.footer {
    background-color: var(--footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer--positioning {
    display: flex;
    flex-direction: column;

    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: flex-start;
    }
}

.footer-contacts {
    display: block;

    @media screen and (min-width: 768px) {
        margin-right: 70px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer-contacts__list {
    display: flex;
    flex-direction: column;

    align-items: center;
    font-style: normal;
    list-style-type: none;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        margin-bottom: 0;
    }
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts__link-address {
    text-decoration: none;
    color: var(--footer-logo);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition-property: color, background-color, border-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-logo);

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.footer-contacts__link {
    color: var(--footer-contacts-color);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-logo);

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-left: 70px;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        margin-left: 0px;
    }
}

.footer-social__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--footer-logo);

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}
