/* Section "Features" */

.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: auto;
        gap: 30px;
        padding-left: 0px;
    }

    &__item {
        max-width: 450px;

        @media screen and (min-width: 768px) {
            max-width: 354px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 270px;
        }
    }

    &__picture-area {
        display: flex;

        justify-content: center;
        align-items: center;

        background-color: var(--team-section-bg);
        border-radius: 4px;

        height: 120px;
        margin-bottom: 30px;
    }

    &__article-title {
        color: var(--title-text);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
}
