.hero {
    background-color: var(--hero-bg-color);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/hero/header-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(/images/hero/header-tablet.jpg);
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(/images/hero/header-desktop.jpg);
    }
}

.hero__title {
    width: 360px;
    height: 84px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--footer-logo);

    margin: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        width: 696px;
        height: 120px;

        font-size: 44px;
        line-height: 1.36;
    }
}
