/* Main properties Logo */
.logo {
    display: block;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: var(--accent-logo);
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        margin-right: 94px;
    }
}

/* Color Logo in Header */
.logo--black {
    color: var(--title-logo);
}

/* Color Logo in Footer */
.logo--white {
    color: var(--footer-logo);
}

.logo--margin {
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 4px;

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}
