.menu-button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-logo);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-icon-open {
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .menu-icon-open {
    opacity: 0;
}

.menu-icon-close {
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .menu-icon-close {
    opacity: 1;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;

    width: 100vw;
    height: 100%;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: #fff;

    transform: translateX(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__list {
    list-style: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: left;
    letter-spacing: 0.02em;
    margin-bottom: auto;
}

.mobile-menu__item:not(last-child) {
    margin-bottom: 32px;
}

// -----------------------

.mobile-menu__contacts {
    margin-top: auto;
    padding-bottom: 64px;
}

.mobile-menu__contact-list {
    list-style: none;
    text-decoration: none;
}

.mobile-menu--current-link {
    color: var(--accent-logo);
}

.mobile-menu__link-tel {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--accent-logo);

    @media screen and(min-width:480px) {
        font-size: 34px;
    }
}

.mobile-menu__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: var(--primary-text);
}

.mobile-menu__contact-item:not(last-child) {
    margin-bottom: 32px;
}

// --------------------

.menu-socials {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;

    list-style: none;
    text-decoration: none;
}

.menu-socials__item:not(:last-child) {
    // padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials__item:nth-child(1) {
    padding-right: 10px;

    @media screen and(max-width:479px) {
        padding-right: 5px;
    }
}
.menu-socials__item:nth-child(2),
.menu-socials__item:nth-child(3) {
    padding-right: 4px;
    padding-left: 4px;

    @media screen and(max-width:479px) {
        padding-right: 4px;
    }
}
.menu-socials__item:nth-child(4) {
    padding-left: 4px;

    @media screen and(max-width:479px) {
        padding-right: 4px;
    }
}
.menu-socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-logo);

    @media screen and(max-width:479px) {
        font-size: 14px;
    }
}
