/* styles for Team */

.team {
    background-color: var(--team-section-bg);
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-basis: auto;
        gap: 30px;
        padding-left: 0px;
    }

    &__card {
        background-color: var(--primary-bg);

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        max-width: 450px;

        @media screen and (min-width: 768px) {
            max-width: 354px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 270px;
        }
    }

    &__name-people {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text);
        margin-bottom: 10px;
    }

    &__card--positioning {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;

        & > p {
            margin-bottom: 16px;
        }
    }
}
