.portfolio {
    display: flex;
    align-items: center;
    padding-bottom: 94px;
    padding-top: 94px;
}

.filter {
    list-style-type: none;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.projects {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: (100% - (var(--indent) * (var(--items-number) - 1) / var(--items-number)));
  gap: var(--indent); */
}

.projects__item {
    background-color: #ffffff;

    &:nth-child(-n + 6) {
        margin-bottom: 30px;
    }

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.projects__card {
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-logo);
    margin-bottom: 4px;
}

.projects__link {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover,
.projects__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.meta-block {
    position: relative;

    overflow: hidden;
}

.meta-block__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms,
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;

    color: var(--accent-social-link-color);
}

.projects__link:hover .meta-block__text,
.projects__link:focus .meta-block__text {
    transform: translateY(0%);
    opacity: 1;
}
