.portfolio {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.filter {
    list-style-type: none;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filter__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
}

.projects {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - (30px * (3 - 1) / 3));
    gap: 30px;
    justify-content: stretch;
}

.projects__item {
    display: flex;
    background-color: #ffffff;
    z-index: 0;

    max-width: 450px;

    @media screen and (min-width: 768px) {
        max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 370px;
    }
}

.projects__card {
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    flex-grow: 1;
}

.projects__card > p {
    display: flex;
}

.project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-logo);
    margin-bottom: 4px;
}

.projects__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover,
.projects__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.meta-block {
    position: relative;
    overflow: hidden;
}

.meta-block__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    max-width: 450px;
    height: 294px;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms,
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;

    color: var(--accent-social-link-color);

    @media screen and (min-width: 768px) {
        max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 370px;
    }
}

.projects__link:hover .meta-block__text,
.projects__link:focus .meta-block__text {
    transform: translateY(0%);
    opacity: 1;
}
